@font-face
{
    
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
    font-family:Orbitron-VariableFont;
}
@font-face
{
    src: url(fonts/Seven-Segment.ttf);
    font-family:Seven-Segment;
}
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(230, 230, 230);
}
#heading
{ 
    text-align: center;
    
}
#body
{ 
    border-style: outset;
    border-color: rgb(71, 71, 71);
    border-bottom-color: rgb(114, 114, 114);
    border-right-color: rgb(114, 114, 114);
    border-width: 7px;
    margin: auto;
    display: grid;
    padding: 10px;    
    border-radius: 15px; 
    height: auto;
    width:min-content;
    background-color: rgb(53, 53, 53);
    grid-template-rows: 85px 20px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px;
}
button
{
    color: rgb(219, 219, 219);
    background-color: rgb(70, 70, 70);
    border-color: rgb(0, 0, 0);
    border-radius: 10px;           
    margin: 1px;    
    font-size: medium;   
}
button:hover
{
    background-color: rgb(100, 100, 100);
}
#screen
{
    grid-row: 1;
    grid-column: 1 / 6;
    font-family: 'Seven-Segment';
    overflow-x:auto;
    padding: 2px;
    font-size:50px;
    font-style: bold;
    border-style: inset;
    border-color: rgb(77, 77, 77);
    border-width: 6px;
    background-color: rgb(97, 128, 88);
    color: rgb(0, 0, 0);           
    text-align: right; 
    border-radius: 5px;
}
#Seven{
    grid-row: 3;
    grid-column: 1;
}
#Eight{
    grid-row:3;
    grid-column: 2;
}
#Nine{
    grid-row:3;
    grid-column: 3;
}
#Divide{
    grid-row:3;
    grid-column: 4;
}
#C{
    grid-row:3;
    grid-column: 5;
    background-color: rgb(141, 24, 24);
    border-style:outset;
    border-color: rgb(68, 22, 22);
}
#C:active{
    border-style: inset;
}
#C:hover{
    background-color:rgb(187, 68, 68) ;
}
#Four{
    grid-row:4;
    grid-column: 1;
}
#Five{
    grid-row:4;
    grid-column: 2;
}
#Six{
    grid-row:4;
    grid-column: 3;
}
#X{
    grid-row:4;
    grid-column: 4;
}
#Del{
    grid-row:4;
    grid-column: 5;
    background-color: rgb(141, 24, 24);
    border-style:outset;
    border-color: rgb(68, 22, 22);
}
#Del:active{
    border-style: inset;
}
#Del:hover{
    background-color:rgb(187, 68, 68) ;
}
#One{
    grid-row:5;
    grid-column: 1;
}
#Two{
    grid-row:5;
    grid-column: 2;
}
#Three{
    grid-row:5;
    grid-column: 3;
}
#Minus{
    grid-row:5;
    grid-column: 4;
}
#Zero{
    grid-row:6;
    grid-column: 1;
}
#Negative{
    grid-row:6;
    grid-column: 2;
}
#Point{
    grid-row:6;
    grid-column: 3;
}  
#Plus{
    grid-row:6;
    grid-column: 4;
}   
#Equals{
    grid-row:5 / 7;
    grid-column: 5;
    background-color: rgb(33, 68, 133);
    border-style:outset;
    border-color: rgb(27, 45, 77);
} 
#Equals:active{
    border-style: inset;
}
#Equals:hover{
    background-color:rgb(65, 106, 182) ;
}