@font-face
{
    
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
    font-family:Orbitron-VariableFont;
}
@font-face
{
    src: url(fonts/Seven-Segment.ttf);
    font-family:Seven-Segment;
}
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}
#heading
{ 
    text-align: center;
    
}
#body
{
    padding: 10px;
    margin: auto;
    border-radius: 15px; 
    height: auto;
    width:fit-content;
    background-color: rgb(53, 53, 53);
}
button
{
    color: rgb(219, 219, 219);
    background-color: rgb(97, 97, 97);
    border-radius: 10px; 
          
    margin: 0px;
    height: 50px;
    width: 50px; 
    font-size: medium;   
}
button:hover
{
    background-color: rgb(124, 124, 124);
}
#keypad
{    
    height: auto;
    text-align: center;    
}
#screen
{
    font-family: 'Seven-Segment';
    overflow-y: auto;
    padding: 2px;
    font-size:50px;
    font-style: bold;
    border-style: inset;
    border-color: rgb(77, 77, 77);
    background-color: rgb(97, 128, 88);
    color: rgb(0, 0, 0);    
    height:70px;
    
    text-align: right; 
    border-radius: 5px;
}